*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}
body {
  background-image: url(./casinoBackground.jpg);
  margin: 0;
}
.deck {
  border-radius: 0.5rem;
  border: solid white 5px;
  background-color: rgba(18, 231, 125, 0.301);
  margin: 5px;
}

.vertical {
  width: 15vw;
  height: 50vh;
  position: absolute;
  height: 70vh;
  top: 15vh;
}

.horizontal {
  position: absolute;
  width: 40vw;
  height: 25vh;
  left: 30vw;
  right: 30vw;
}
#player1 {
  bottom: 0;
}
#counter4 {
  position: absolute;
  bottom: 25.5vh;
  background-color: red;
  color: white;
  width: auto;
  font-size: 3rem;
  border: solid white 5px;
  border-radius: 0.5rem;
  left: 49%;
}
#player2 {
  left: 0;
}
#counter1 {
  position: absolute;
  bottom: 84vh;
  background-color: red;
  color: white;
  width: auto;
  font-size: 3rem;
  border: solid white 5px;
  border-radius: 0.5rem;
  left: 6%;
}
#player3 {
  top: 0;
}
#counter2 {
  position: absolute;
  top: 25.5vh;
  background-color: red;
  color: white;
  width: auto;
  font-size: 3rem;
  border: solid white 5px;
  border-radius: 0.5rem;
  left: 49%;
}
#player4 {
  right: 0;
}
#counter3 {
  position: absolute;
  bottom: 84vh;
  background-color: red;
  color: white;
  width: auto;
  font-size: 3rem;
  border: solid white 5px;
  border-radius: 0.5rem;
  right: 6%;
}

.buttons {
  height: 2rem;
  margin: 5px;
  position: absolute;
  top: 65vh;
  left: 43vw;
  display: flex;
}
.card {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 20%;
  position: relative;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  ::before {
    content: attr(data-value);
    font-size: 1rem;
    top: 0.5rem;
    left: 0.5em;
    position: absolute;
  }
  ::after {
    content: attr(data-value);
    font-size: 1rem;
    bottom: 0.5rem;
    right: 0.5rem;
    transform: rotate(180deg);
    position: absolute;
  }
  .black {
    color: black;
  }
  .red {
    color: red;
  }
  .sideways {
    width: 100%;
    height: 20%;
  }
}
#slot {
  position: relative;
  height: 30vh;
  max-width: 30%;
  width: auto;
  top: 35vh;
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  .card {
    position: absolute;
    max-width: 33%;
    width: 30%;
    right: 0px;
    bottom: 0;
  }
}
#upside-down {
  content: url("cardBack.png");
  max-width: 33%;
  height: 100%;
}
#buttons {
  position: absolute;
  background-image: url(./casinoBackground.jpg);
  margin: 0 auto;
  border: solid 1px white;
  border-radius: 1rem;
  left: 38%;
  display: none;
}
#yaniv,
#assaf {
  display: none;
  margin: 1rem;
  font-size: 3.3rem;
}
#scoreboard {
  background-color: rgba(18, 231, 125, 0.301);
  position: absolute;
  left: 20vw;
  top: 30vh;
  width: 11vw;
  height: 40vh;
  display: block;
  border: solid 5px white;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  font-family: cursive;
  text-align: center;
}
